.certificates{

    width:100vw;
    height:100vh;

    background:url("../assets/react.svg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}